<html>
<head>
   <title>Menu</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  
<body bgcolor="#F0FFF0">

{% if listReqUser %}

<center> <div class="judul">LIST REQUEST</div> </center>
            
     <table id="list">
      <tr>
        <th>Request Code</th>
        <th>Title</th>
        <th>Request Date</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>PIC</th>
        <th></th>
      </tr>
        
{% for row in listReqUser %}
      <tr>
        <td> {{row[0]}} </td>            
        <td> {{row[1]}} </td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
            {% if row[4] == 'Finished' %}
        <td>{{row[6]}}</td>
            {% else %}
        <td>{{row[4]}}</td>
            {% endif %}
        <td>{{row[5]}}</td>
            {% if row[4] == 'Waiting' %}
        <td> 
          
<!-- <form action = "/cancel" method = "post"> -->
  <button id ="{{row[0]}}" class="submitRed"  
  value = "{{row[0]}}" onclick="alertCancel(this.id)">Cancel</button></td>

  <div id="modal{{row[0]}}" class="modal">

            <!-- Modal content -->
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p> Cancel {{row[1]}} ? </p>
             
      <form action ="/cancel" method = 'POST'>
        <center>
           <button  class = "submit" value ="{{row[0]}}" 
           name="btnCancel"> YES </button>
      </form>
        <br>

           <button  class = "submitRed" value ="{{row[0]}}" 
           onclick="closeModal()"> NO </button>
        </center>
          
      </div>
  </div>
        </td>

        {% elif row[4] == 'Finished' %}

        {% elif row[4] == 'On Process' %}

        {% elif row[4] == 'Confirmed' %}
        <td>"Done"</td>
        {% endif %}

        </tr>
        {% endfor %}
      
    </table> 

{% else %}

  <center> <div class="judul">LIST REQUEST</div> </center>

    <center><p>Anda belum miliki request Laporan</p></center>
    <br><br><br>


{% endif %}

  </body>
<script>    
  var btnProcess;
  var modalItem;
  // // When the user clicks on <span> (x), close the modal
  function  closeModal() {
    modalItem.style.display = "none";
  }
  // // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modalItem) {
      modalItem.style.display = "none";
    }
  }
  function show_modal(modalId){
    modalItem = document.getElementById(modalId);
    modalItem.style.display = 'block';
  }
  function alertCancel(processId){
    show_modal('modal'+processId);
    //alert('modal'+processId);
  }


  var btnProcess2;
  var modalItem2;
  // // When the user clicks on <span> (x), close the modal
  function  closeModal2() {
    modalItem2.style.display = "none";
  }
  // // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modalItem2) {
      modalItem2.style.display = "none";
    }
  }
  function show_modal(modalId){
    modalItem2 = document.getElementById(modalId);
    modalItem2.style.display = 'block';
  }
  function click_process(processId){
    show_modal('modal2'+processId);
    //alert('modal'+processId);
  }
</script>
</html>