<html>
        <head>
          <title>Available Task</title>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
    <body>

        <div class="container2">
                
               
                </div>
            
           
                            <br><br>

        
<h1>AVAILABLE TASK</h1>
<input type="text2" placeholder="Search Report ..">
          {% if listAvailTaskSPV %}
          <center>
          <div class="myBoxTask">
            <form action="/detailReq" method="POST">
                          <table id="list">
                            <tr>
                              <th>Request Name</th>
                              <th>Position</th>
                              <th>Request Code</th>
                              <th>Title</th>
                              <th>Department</th>
                            <th>Organization</th>
                              <th>Request Date</th>
                              <th>Deadline</th>                
                              <th>Priority</th>
                              <th></th>
                            </tr>

                            {% for taskSPV in listAvailTaskSPV %}
                            <tr >
                            <td>{{taskSPV[0]}}</td>
                            <td>{{taskSPV[1]}}</td>
                            <td>{{taskSPV[2]}}</td>
                            <td>{{taskSPV[3]}}</td>
                            <td>{{taskSPV[4]}}</td>
                            <td>{{taskSPV[5]}}</td>
                            <td>{{taskSPV[6]}}</td>
                            <td>{{taskSPV[7]}}</td>
                            
                             
                            
            
                              <td><label class="switch">
                                   <input id ="slide" type="checkbox" onchange="document.getElementById('slide').disabled = this.checked; ">
                                   <input type="hidden" value="" name="">
                                   <span class="slider round"></span>
                                  </label>    </td>
                              <td>
                                  <button class="submit" name = "buttonDetail" value="{{taskSPV[2]}}">Select</button>
                
</form>
<form action="/reject" method="POST">
                                  <button class="submitRed" name="btnReject" value="{{taskSPV[2]}}">Reject</button><br>
</form>                                  
                              </td>
                             
                            </tr>
                            {% endfor %}
                            
                          </table> 
            {% else %}
              
            {% endif %}
                
          </div>
                                <br><br><br>
                 <h2>__________________________________________________________________________</h2>
                                <br><br><br>
        </center>









                <h1>ON PROGRESS TASK</h1>

                <div class="col-75">
                  <input type="text2" placeholder="Search Report ..">
                </div>
                <br><br>
      <div class="myBoxTask">
                <table id="list">
                  <tr>
                    <th>Employee Name</th>
                    <th>Request Code</th>
                    <th>Title</th>
                    <th>Department</th>
                    <th>Organization</th>
                    <th>Request Date</th>
                    <th>Date Accept Task</th>
                    <th>PIC</th>
                    <th>Deadline</th>
                  </tr>
                {% if onProgTask %}
                  {% for onProg in onProgTask %}
                  <tr>
                    <td>{{onProg[0]}}</td>
                    <td>{{onProg[1]}}</td>
                    <td>{{onProg[2]}}</td>
                    <td>{{onProg[3]}}</td>
                    <td>{{onProg[4]}}</td>
                    <td>{{onProg[5]}}</td>
                    <td>{{onProg[6]}}</td>
                    <td>{{onProg[7]}}</td>
                    <td>{{onProg[8]}}</td>

                  <!--   <td>Nita</td>
                    <td>DGM-0001</td>
                    <td>Laporan Sales ABC</td>
                    <td>MT01-Purchasing</td>
                    <td>Pharos</td>
                    <td>7 Mei 2019</td>
                    <td>8 Mei 2019</td>
                    <td>10 Mei 2019</td> -->
                  </tr>
                  {% endfor %}
                 
                 {% else %}

                 {% endif %}
                </table> 
      <!-- </div> -->
</div>

          <h1>LIST TASK</h1>
<div class="myBoxTask">
            <table id="list">
                
              <tr>
                <th>Request Code</th>
                <th>Title</th>
                <th>Request Name</th>
                <th>Department</th>
                <th>Request Date</th>
                <th>Deadline</th>
                <th>Priority</th>
                <th></th>
              </tr>
             {% for row in  listTask %}
             
              <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</a></td>
                {% if row[7] == 'Finished' %}
                <td>Waiting to be Confirmed</td>
                {% elif row[7] == 'On Process'%}
                <td> 
                    
                    <button id ="{{row[0]}}" class="submit" onclick= "click_process(this.id)" name="finishButton" value="{{row[0]}}">Finish</button>


                    <div id="modal{{row[0]}}" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <strong>{{row[0]}}</strong>
                        <p> Input Report Code : </p>
                    <form action ="/finishRequest" method = 'POST'>
                        <input name="kodLap" list="reqFin">

                        <datalist id="reqFin">
                          {% for row in listKodeLap %}
                          <option value="{{row[0]}}">
                          {% endfor %}
                        </datalist>

                        
                        
                         <button name="finishReq" value ="{{row[0]}}"> OK </button>
                        </form>
                      </div>

                    </div>
                    
                </td>
                {% else %}
                <td>
                    <button class="submitOr" name="inputKode" value="{{row[0]}}">InputKode</button>
                {% endif %}
              </tr>
           {% endfor %}

            </table>
</div>

         <br><br><br>

  
        


    </body>
</html>


<script>

    var x = document.getElementById("slide"+"slide2"+"slide3");


 checker.onchange = function(){
if(x.checked){
    x.disabled = true;
} 
else {
    x.disabled = false;
}

}

///////////////////////////////////////////// MODAL BOX

var btnProcess;
var modalItem;

// // When the user clicks on <span> (x), close the modal
function  closeModal() {
  modalItem.style.display = "none";
}

// // When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalItem) {
    modalItem.style.display = "none";
  }
}

function show_modal(modalId){

  modalItem = document.getElementById(modalId);
  modalItem.style.display = 'block';
}
function click_process(processId){
  show_modal('modal'+processId);
  //alert('modal'+processId);

}

</script>
