 <!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
   <div class="row">
                    <div class = "col-25">
                      <tr>
                        <td valign ="top">
                          <label for="attach_file">Attachment</label>
                        </td>
                    </div>
                      <div>
                        <td valign="top">
                          <input type="file" name="inputFile" value ="Attach File" accept="image/*">
                        </td>
                      </div>
                        
                      </tr>

                      <div class="col-25">
                        <form action="/submit">
                          <button class="submit" name="button" value="1">Submit</button>
                        </form>
                      </div>
    </div>
 </body>
 </html>
